/*Set whole page into grid layout with display property*/
/*Background image is a jpg image*/
/*All text colour is white*/
/*px is for pixel and fr is fractional unit*/
.page{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
  background-image: url("3607424.jpg");
  color: antiquewhite;
}

/*Image is in a position relative to the page boundary*/
/*grid-column is the coloumn the particular element is in the grid*/
/*grid-row is the row the particular element is in the grid*/
/*Font-style is the style of the written text*/
/*Display is the layout of the element*/
img{
  position: relative;
  top: 70px;
  left: 100px;
  border: 10px solid yellow;
  grid-column: 1;
  grid-row: 1;
}

.bio{
  grid-column: 2;
  grid-row: 1;
  font-style: oblique;
}

.search{
  grid-column: 3;
  grid-row: 1;
}

.skills{
  grid-column: 1;
  grid-row: 12;
  font-style: italic;
}

.education{
  grid-column: 2;
  grid-row: 12;
  font-style: italic;
}

.workXp{
  grid-column: 3;
  grid-row: 12;
  font-style: italic;
}

.feedback{
  display:grid;
  grid-column: 1/3;
  grid-row: 13;
  font-style: oblique;
}

.contact{
  grid-column: 2;
  grid-row: 13;
  font-style: oblique;
}
